@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nunito:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-font:'Nunito', sans-serif;
    --second-font:'Noto Sans', sans-serif;
}

.font-main{
    font-family: var(--main-font);
}

.font-second{
    font-family: var(--second-font);
}