@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nunito:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-font:'Nunito', sans-serif;
    --second-font:'Noto Sans', sans-serif;
}

html{
    background: #00b1df;
    background: linear-gradient(0deg, #00b1df 0%, #35d5ff 100%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

#root{
    height: 100vh;
}
.wrapper{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.font-main{
    font-family: var(--main-font);
}

.font-second{
    font-family: var(--second-font);
}

.selected-unit{
    color: #05a9f5;
    font-weight: 900;
}

input::placeholder{
    color:rgb(240 253 250);
    opacity: 0.7;
    
}